# Build output
bin/
obj/
out/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Local logs output
keycloak.log

# Terraform-specific
**/.terraform/*
backend.hcl
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars