@page
@model CabaVS.Workerly.Web.Pages.Auth.Login
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="h4 mb-3">Sign in</h1>
                <p class="text-body-secondary">You should be redirected automatically...</p>
            </div>
        </div>
    </div>
</div>